.navbar {
    background-color: brown;
    display: block;
}

.navbar__headline {
    color: white;
    margin: 0;
    
}

ul {
    padding: 25px;
    display: flex;
    margin: 0;
    list-style-type: none;
}

li::marker {
    content: '';
}

li > p {
    color: white;
    margin: 0;
}