<div class="edit-alert">
    <h1 class="edit-alert__headline">Edit</h1>

    <div class="edit-alert__input-container">
        <span>Subject: </span>
        <input [(ngModel)]="sentenceToEdit.s" type="text">
    </div>

    <div class="edit-alert__input-container">
        <span>Verb: </span>
        <input [(ngModel)]="sentenceToEdit.v" type="text">
    </div>

    <div class="edit-alert__input-container">
        <span>Object: </span>
        <input [(ngModel)]="sentenceToEdit.o" type="text">
    </div>

    <div class="edit-alert__button-container">
        <button class="edit-alert__button edit-alert__button--cancel" (click)="cancel()">cancel</button>
        <button class="edit-alert__button" (click)="save()">save</button>
    </div>

</div>
